<h2>レビュー一覧</h2>

<% @posts.each do |post| %>
  <div>
    <p>タイトル：<%= link_to post.review_title, post_path(post.id) %></p>
    <p>ゲームタイトル：<%= post.game_title %></p>
    <p>本文：<%= post.body %></p>
    <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>
